<section class="filter_list_section">
<div class="main-container">

  <div class="filter-div">
    <p class="page-heading">Filters</p>
    <div class="filter-btns">
      <form action="/filter">
        <p class="page-heading">Property Type</p>
        <select name="type" class="option-tag">
         <option value="none" selected disabled hidden>
          Select The Property Type
      </option>
          <option value="Rent">Rent</option>
          <option value="Sales">Sales</option>
        </select>

        <p class="page-heading">Number of Bedrooms</p>
        <select name="room" class="option-tag">
         <option value="none" selected disabled hidden>
          Select The Number of Rooms
      </option>
          <option value="1">1 BHK</option>
          <option value="2">2 BHK</option>
          <option value="3">3 BHK</option>
          <option value="4">4 BHK</option>
          <option value="5">5 BHK</option>
        </select>

          <button type="submit" class="user_button">Apply Filter</button>
     </form>
    </div>
    </div>


   <div class="list-main-container">
    <div class="search-div">
      <form class="search-box" action="/search_prop">
        <input name="query" type="text" class="search-bar" placeholder="Search by Name, City, or Amount">
        <a href="#"><em class="fa-solid fa-magnifying-glass search-icon"></em></a>
      </form>
    </div>

    <div class="listing-container">
        <% @filter.each do |prop| %>     
        <div class="prop-box">
            <%= image_tag('home4.jpg',{class: 'bg-img' }) %>
            <div class="content">
              <h3><em class="fa-solid fa-house-chimney"></em> <%= prop.prop_name%></h3>
              <div class="details"><p>Address <span><%= prop.address%></span></p></div>
              <div class="details"><p>Property For <span><%= prop.prop_type%></span></p></div>
              <div class="details"><p>Rooms <span><%= prop.room%></span></p></div>
              <div class="details"><p>Sq.Ft <span><%= prop.sqft%></span></p></div>
              <div class="details"><p>Rent <span><%= prop.amount%></span></p></div>
              <div class="details"><p>Distance To Hospital <span><%= prop.hsptl_dist%></span> </p></div>
             <a href="/booking/<%=prop.id%>"><button class="owner-btn">Book Property</button></a> 
            </div>
         </div>
         <%end%>
    </div>
</div>
</section>