<section class="list_section">
<div class="main-container">

  <!-- <div class="filter-div">
    <p class="page-heading">Filters</p>
  </div> -->

   <div class="list-main-container">
    <div class="search-div">
      <form class="search-box" action="/search_prop">
        <input name="query" type="text" class="search-bar" placeholder="Search by Name, City, or Amount">
        <a href="#"><em class="fa-solid fa-magnifying-glass search-icon"></em></a>
      </form>
    </div>

    <div class="listing-container">
        <% Property.all.each do |prop| %>     
        <div class="prop-box">
            <%= image_tag('home4.jpg',{class: 'bg-img' }) %>
            <div class="content">
              <h3><em class="fa-solid fa-house-chimney"></em> <%= prop.prop_name%></h3>
              <div class="details"><p>Address <span><%= prop.address%></span></p></div>
              <div class="details"><p>Property For <span><%= prop.prop_type%></span></p></div>
              <div class="details"><p>Rooms <span><%= prop.room%></span></p></div>
              <div class="details"><p>Sq.Ft <span><%= prop.sqft%></span></p></div>
              <div class="details"><p>Rent <span><%= prop.amount%></span></p></div>
              <div class="details"><p>Distance To Hospital <span><%= prop.hsptl_dist%></span> </p></div>
             <a href="/booking/<%=prop.id%>"><button class="owner-btn">Book Property</button></a> 
            </div>
         </div>
         <%end%>
    </div>
  
<!-- 
<div class="popup" id="popup-overlay">
  <div class="owner-detail">
    <p class="owner-heading">
      Owner Details
    </p>

    <p class="owner-contact">
      <span><i class="fa-solid fa-user"></i></span> Name
     </p>

    <p class="owner-contact">
     <span><i class="fa-solid fa-phone"></i></span> Phone Number
    </p>

    <p class="owner-contact">
      <span><i class="fa-solid fa-envelope"></i></span> Email
    </p>
  </div>
</div> -->


</div>
</section>



<!-- 
<script>



  function popupover() {
    document.getElementById("popup-overlay").style.display = "block";
  }

  function crossign() {
    document.getElementById("popup-overlay").style.display = "none";
  }

</script> -->